* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body, html {
  width: 100%;
  height: 100%;
  font-family: 'Noto Serif Thai', serif;
}

body {
  opacity: 1;
  transition: opacity 0.8s ease;
}

body.fade-out {
  opacity: 0;
}

 .screen {
  position: absolute;   /* จาก relative → absolute */
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  overflow: hidden;

  opacity: 0;
  pointer-events: none;

  transition: opacity 3.0s ease;
}

.screen.active {
  opacity: 1;
  pointer-events: auto;
}

.yellow-bg {
  background-image: url("yellow_bg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.beach-plain-bg {
  background-image: url("beach.jpeg");
  /* background-image: url("beach-rec-white.jpeg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.beach-bg {
  background-image: url("beach-oval-white.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.mountain-bg {
  background-image: url("mountain-white.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mountain-plain-bg {
  background-image: url("mountain.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.garden-bg {
  background-image: url("garden-white.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.garden-plain-bg {
  background-image: url("garden.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#screen1 {
  background-image: url("opening.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
#screen1 .content {
  transform: translateY(25px);
}

/* .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slider img.active {
  opacity: 1;
} */

.overlay { pointer-events: none; }
/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 0;
} */

.content_P1 {
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 20px;
  top: 30%;
  transform: translateY(5px)
}

.next-btn-pink-P1 {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  background-color: #ffaeaecc;
  color: rgb(255, 255, 255);
  transition: background-color 0.3s;
  font-family: 'Noto Serif Thai', serif;
}

.next-btn:hover {
  background-color: #ffffff;
}

/* .screen {
  display: none;
}

.screen.active {
  display: block;
} */



.actions {
  display: flex;
  justify-content: center;
  transform: translateY(210px)
}



.content_P2 .caution {
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 20px;
  transform: translateY(190px);
  font-family: 'Noto Serif Thai', serif;
}

.content_P2 .subtitle {
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 20px;
  top: 30%;
  transform: translateY(160px);
  line-height: 35px;
}


.next-btn-black-P2 {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  background-color: #000000cc;
  color: rgb(255, 255, 255);
  transition: background-color 0.3s;
  font-family: 'Noto Serif Thai', serif;
}

@keyframes softBlink {
  0%   { opacity: 0.3; }
  50%  { opacity: 1; }
  100% { opacity: 0.3; }
}



.content_P3 .name_ask {
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px;
  transform: translateY(260px);
  font-weight: 400;
  font-size: medium;
}

.next-btn-black-P3 {
  margin-top: 0px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  background-color: #000000cc;
  color: rgb(255, 255, 255);
  transition: background-color 0.3s;
  font-family: 'Noto Serif Thai', serif;
  transform: translateY(0px) ;
}

#userName {
  display: block;        /* สำคัญ */
  margin: 120px auto 0;   /* บน | ซ้ายขวา | ล่าง */

  padding: 12px 16px;
  width: 250px;

  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #ccc;

  text-align: center;
  font-family: 'Noto Serif Thai', serif;
  transform: translateY(150px)
}



.content_P4 .age_ask {
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px;
  transform: translateY(260px);
  font-weight: 400;
  font-size: medium;
}

#age{
  display: block;        /* สำคัญ */
  margin: 120px auto 0;   /* บน | ซ้ายขวา | ล่าง */

  padding: 12px 16px;
  width: 250px;

  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #ccc;

  text-align: center;
  font-family: 'Noto Serif Thai', serif;
  transform: translateY(150px)
}


.content_P5 {
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px;
  transform: translateY(260px);
  font-weight: 400;
  font-size: medium;
  line-height: 1.8;
}

.next-btn-black-P5 {
  margin-top: 0px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 30px;
  background-color: #000000cc;
  color: rgb(255, 255, 255);
  transition: background-color 0.3s;
  font-family: 'Noto Serif Thai', serif;
  transform: translateY(100px);

}

#screen6 {
  background-image: url("ไฟสว่างกลาง.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.content_P6 {
  position: absolute;
  bottom: 100px;
  width: 100%;
  text-align: center;

  font-size: 14px;
  color: rgb(255, 255, 255);
  font-family: 'Noto Serif Thai', serif;
  animation: softBlink 3s ease-in-out infinite;
}

#screen7 {
  background-image: url("ไฟสว่างกลาง.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.content_P7 .subtitle{
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;

  font-size: 14px;
  color: rgb(255, 255, 255);
  font-family: 'Noto Serif Thai', serif;
  line-height: 1.8;
}

.touchtogonext-white {
  position: absolute;
  bottom: 100px;
  width: 100%;
  text-align: center;

  font-size: 14px;
  color: rgb(255, 255, 255);
  font-family: 'Noto Serif Thai', serif;
  animation: softBlink 3s ease-in-out infinite;
}

.touchtogonext-black {
  position: absolute;
  bottom: 100px;
  width: 100%;
  text-align: center;

  font-size: 14px;
  color: rgb(0, 0, 0);
  font-family: 'Noto Serif Thai', serif;
  animation: softBlink 3s ease-in-out infinite;
}



.content_P8 {
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px;
  /* transform: translateY(260px); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: medium;
  line-height: 1.8;
}

.touchtogonext-black {
  position: absolute;
  bottom: 100px;
  width: 100%;
  text-align: center;

  font-size: 14px;
  color: rgb(0, 0, 0);
  font-family: 'Noto Serif Thai', serif;
  animation: softBlink 3s ease-in-out infinite;
}



.content_P9 {
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px;
  /* transform: translateY(260px); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: medium;
  line-height: 1.8;
}



.content_P10 {
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px;
  /* transform: translateY(260px); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: medium;
  line-height: 1.8;
}



.content_P11 {
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px;
  /* transform: translateY(260px); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: medium;
  line-height: 1.8;
}

#screen12 {
  background-image: url("door.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.content_P13 {
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px;
  transform: translateY(230px);
  font-weight: 400;
  font-size: medium;
  line-height: 1.8;
}

.button_1 {
  display: flex;
  justify-content: center;
  transform: translateY(180px)
}

.button-dog {
  margin-top: 0px;
  padding: 10px 50px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 30px;
  background-color: #000000cc;
  color: rgb(255, 255, 255);
  transition: background-color 0.3s;
  font-family: 'Noto Serif Thai', serif;
  transform: translateY(60px)
  
}

.button_2 {
  display: flex;
  justify-content: center;
  transform: translateY(160px)
}

.button-cat {
  margin-top: 0px;
  padding: 10px 50px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 30px;
  background-color: #000000cc;
  color: rgb(255, 255, 255);
  transition: background-color 0.3s;
  font-family: 'Noto Serif Thai', serif;
  transform: translateY(90px)
}

.content_dog {
  width: 100%;
  height: 100vh;  /* สั่งให้สูงเต็มจอ 100% ของ Viewport Height */
  position: relative;
  background-image: url("dog-door.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content_dog .subtitle {
  position: absolute;
  top: 28%;
  width: 100%;
  text-align: center;

  font-size: 16px;
  color: rgb(0, 0, 0);
  font-family: 'Noto Serif Thai', serif;
  line-height: 1.8;

}

.button_4 {
  /* สั่งให้ลอยเพื่อไม่ให้กินพื้นที่จนหน้ายาว */
  position: absolute; 
  bottom: 52%;        /* ห่างจากขอบล่าง 50% */
  left: 50%;          /* อยู่กึ่งกลางซ้ายขวา */
  transform: translateX(-50%); /* จัดกึ่งกลางให้เป๊ะ */

  /* สไตล์ปุ่มเดิมของคุณ */
  padding: 10px 50px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  background-color: #000000cc;
  color: rgb(255, 255, 255);
  font-family: 'Noto Serif Thai', serif;
}

.content_cat {
  width: 100%;
  height: 100vh;  /* สั่งให้สูงเต็มจอ 100% ของ Viewport Height */
  position: relative;
  background-image: url("cat-door.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content_cat .subtitle {
  position: absolute;
  top: 28%;
  width: 100%;
  text-align: center;

  font-size: 16px;
  color: rgb(0, 0, 0);
  font-family: 'Noto Serif Thai', serif;
  line-height: 1.8;

}



.content_P16 {
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px;
  /* transform: translateY(260px); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: medium;
  line-height: 1.8;
}



.content_P17 {
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: medium;
  line-height: 1.8;
}




.content_P18 {
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: medium;
  line-height: 1.8;
}



.actions-2 {
  display: flex;
  flex-direction: column; /* สั่งให้ปุ่มเรียงลงมาเป็นแนวตั้ง */
  align-items: center;    /* จัดกึ่งกลางแนวนอน (สำคัญมาก!) */
  justify-content: flex-start; /* เริ่มเรียงจากข้างบนลงล่าง */
  
  /* อยากให้ลงมาแค่ไหน ปรับตัวเลขตรงนี้ครับ */
  padding-top: 35vh; /* 50vh คือครึ่งหนึ่งของความสูงหน้าจอ (ลงมาเยอะๆ) */
  
  /* ระยะห่างระหว่างปุ่ม */
  gap: 10px; 
  
  /* ทำให้กล่องนี้เต็มจอ เพื่อให้จัดตำแหน่งได้ */
  height: 100vh; 
  box-sizing: border-box; /* กันไม่ให้ padding ดันจนจอเกิน */
}

.button-beach, .button-mountain, .button-garden {
  padding: 10px 50px;
  text-align: center;
  width: 200px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  background-color: #000000cc;
  color: white;
  transition: background-color 0.3s;
  font-family: 'Noto Serif Thai', serif;
  
  /* ไม่ต้องใส่ top, position แล้ว เพราะแม่จัดการให้ */
}


.content_P19 {
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: medium;
  line-height: 1.8;
}




.content_P20 {
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: medium;
  line-height: 1.8;
}



.content_P21 .reason_ask_beach {
  position: relative;
  /* z-index: 1; */
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px;
  transform: translateY(300px);
  font-weight: 400;
  font-size: medium;
}

.content_P21 .reason_ask_mountain {
  position: relative;
  /* z-index: 1; */
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px;
  transform: translateY(290px);
  font-weight: 400;
  font-size: medium;
}

.content_P21 .reason_ask_garden {
  position: relative;
  /* z-index: 1; */
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px;
  transform: translateY(290px);
  font-weight: 400;
  font-size: medium;
}

.next-btn-black-P21 {
  z-index: 2;
  opacity: 1;
  /* margin-top: 0px; */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  font-family: 'Noto Serif Thai', serif;
  transform: translateY(30px);
}

#beachReason{
  display: block;        /* สำคัญ */
  margin: 120px auto 0;   /* บน | ซ้ายขวา | ล่าง */

  padding: 12px 16px;
  width: 250px;

  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #ccc;

  text-align: center;
  font-family: 'Noto Serif Thai', serif;
  transform: translateY(190px)
}

#mountainReason{
  display: block;        /* สำคัญ */
  margin: 120px auto 0;   /* บน | ซ้ายขวา | ล่าง */

  padding: 12px 16px;
  width: 250px;

  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #ccc;

  text-align: center;
  font-family: 'Noto Serif Thai', serif;
  transform: translateY(190px)
}

#gardenReason{
  display: block;        /* สำคัญ */
  margin: 120px auto 0;   /* บน | ซ้ายขวา | ล่าง */

  padding: 12px 16px;
  width: 250px;

  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #ccc;

  text-align: center;
  font-family: 'Noto Serif Thai', serif;
  transform: translateY(190px)
}

.actions_rb {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 230px);
}





.content_P22 {
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: medium;
  line-height: 1.8;
}



.content_P23 {
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: medium;
  line-height: 1.8;
}



.content_P24 {
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: medium;
  line-height: 1.8;
}



.content_P25 {
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px;
  /* transform: translateY(260px); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: medium;
  line-height: 1.8;
}



.content_P26 {
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: medium;
  line-height: 1.8;
}

.actions-3 {
  display: flex;
  flex-direction: column; /* สั่งให้ปุ่มเรียงลงมาเป็นแนวตั้ง */
  align-items: center;    /* จัดกึ่งกลางแนวนอน (สำคัญมาก!) */
  justify-content: flex-start; /* เริ่มเรียงจากข้างบนลงล่าง */
  
  /* อยากให้ลงมาแค่ไหน ปรับตัวเลขตรงนี้ครับ */
  padding-top: 35vh; /* 50vh คือครึ่งหนึ่งของความสูงหน้าจอ (ลงมาเยอะๆ) */
  
  /* ระยะห่างระหว่างปุ่ม */
  gap: 10px; 
  
  /* ทำให้กล่องนี้เต็มจอ เพื่อให้จัดตำแหน่งได้ */
  height: 100vh; 
  box-sizing: border-box; /* กันไม่ให้ padding ดันจนจอเกิน */
}

.button-good, .button-soso, .button-sad {
  padding: 10px 50px;
  text-align: center;
  width: 225px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  background-color: #000000cc;
  color: white;
  transition: background-color 0.3s;
  font-family: 'Noto Serif Thai', serif;
  
  /* ไม่ต้องใส่ top, position แล้ว เพราะแม่จัดการให้ */
}




.next-btn-black-P3 {
  margin-top: 0px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  background-color: #000000cc;
  color: rgb(255, 255, 255);
  transition: background-color 0.3s;
  font-family: 'Noto Serif Thai', serif;
  transform: translateY(0px);
}

.content_Good1 {
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: medium;
  line-height: 1.8;
}


.content_Good2 .good_ask {
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px;
  transform: translateY(200px);
  font-weight: 400;
  font-size: medium;
}

.content_Soso2 .soso_ask {
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px;
  transform: translateY(210px);
  font-weight: 400;
  font-size: medium;
}

.content_Sad2 .sad_ask {
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px;
  transform: translateY(210px);
  font-weight: 400;
  font-size: medium;
}

#goodStory {
  display: block;    
  margin: 120px auto 0;   
  padding: 12px 16px;
  width: 250px;
  height:  150px;
  font-size: 16px;
  border-radius: 16px;
  border: 1px solid #ccc;
  text-align: center;
  font-family: 'Noto Serif Thai', serif;
  transform: translateY(100px)
}

/* ตอนยังว่าง */
#goodStory:placeholder-shown {
  padding-top: 60px;
  font-family: 'Noto Serif Thai', serif;
}

/* ตอนเริ่มพิมพ์ */
#goodStory:not(:placeholder-shown) {
  padding-top: 16px;
  text-align: left;
  font-family: 'Noto Serif Thai', serif;
}


#sosoStory {
  display: block;    
  margin: 120px auto 0;   
  padding: 12px 16px;
  width: 250px;
  height:  150px;
  font-size: 16px;
  border-radius: 16px;
  border: 1px solid #ccc;
  text-align: center;
  font-family: 'Noto Serif Thai', serif;
  transform: translateY(100px)
}

/* ตอนยังว่าง */
#sosoStory:placeholder-shown {
  padding-top: 60px;
  font-family: 'Noto Serif Thai', serif;
}

/* ตอนเริ่มพิมพ์ */
#sosoStory:not(:placeholder-shown) {
  padding-top: 16px;
  text-align: left;
  font-family: 'Noto Serif Thai', serif;
}

#sadStory {
  display: block;    
  margin: 120px auto 0;   
  padding: 12px 16px;
  width: 250px;
  height:  150px;
  font-size: 16px;
  border-radius: 16px;
  border: 1px solid #ccc;
  text-align: center;
  font-family: 'Noto Serif Thai', serif;
  transform: translateY(100px)
}

/* ตอนยังว่าง */
#sadStory:placeholder-shown {
  padding-top: 60px;
  font-family: 'Noto Serif Thai', serif;
}

/* ตอนเริ่มพิมพ์ */
#sadStory:not(:placeholder-shown) {
  padding-top: 16px;
  text-align: left;
  font-family: 'Noto Serif Thai', serif;
}

.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.center-text {
  text-align: center;
  line-height: 1.8;
  padding: 20px;
  z-index: 1; /* กัน overlay */
}

.content_Good3 .good_asktoTell {
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px;
  transform: translateY(200px);
  font-weight: 400;
  font-size: medium;
}

.content_Soso3 .soso_asktoTell {
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px;
  transform: translateY(210px);
  font-weight: 400;
  font-size: medium;
  line-height: 1.6 ;
}

.content_Sad3 .sad_asktoTell {
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px;
  transform: translateY(210px);
  font-weight: 400;
  font-size: medium;
  line-height: 1.6 ;
}

#goodTell {
  display: block;    
  margin: 120px auto 0;   
  padding: 12px 16px;
  width: 250px;
  height:  150px;
  font-size: 16px;
  border-radius: 16px;
  border: 1px solid #ccc;
  text-align: center;
  font-family: 'Noto Serif Thai', serif;
  transform: translateY(100px)
}

/* ตอนยังว่าง */
#goodTell:placeholder-shown {
  padding-top: 60px;
  font-family: 'Noto Serif Thai', serif;
}

/* ตอนเริ่มพิมพ์ */
#goodTell:not(:placeholder-shown) {
  padding-top: 16px;
  text-align: left;
  font-family: 'Noto Serif Thai', serif;
}

#sosoTell {
  display: block;    
  margin: 120px auto 0;   
  padding: 12px 16px;
  width: 250px;
  height:  150px;
  font-size: 16px;
  border-radius: 16px;
  border: 1px solid #ccc;
  text-align: center;
  font-family: 'Noto Serif Thai', serif;
  transform: translateY(100px)
}

/* ตอนยังว่าง */
#sosoTell:placeholder-shown {
  padding-top: 60px;
  font-family: 'Noto Serif Thai', serif;
}

/* ตอนเริ่มพิมพ์ */
#sosoTell:not(:placeholder-shown) {
  padding-top: 16px;
  text-align: left;
  font-family: 'Noto Serif Thai', serif;
}

#sadTell {
  display: block;    
  margin: 120px auto 0;   
  padding: 12px 16px;
  width: 250px;
  height:  150px;
  font-size: 16px;
  border-radius: 16px;
  border: 1px solid #ccc;
  text-align: center;
  font-family: 'Noto Serif Thai', serif;
  transform: translateY(100px)
}

/* ตอนยังว่าง */
#sadTell:placeholder-shown {
  padding-top: 60px;
  font-family: 'Noto Serif Thai', serif;
}

/* ตอนเริ่มพิมพ์ */
#sadTell:not(:placeholder-shown) {
  padding-top: 16px;
  text-align: left;
  font-family: 'Noto Serif Thai', serif;
}

.content_Good13 {
  text-align: center;
  color: white;
  line-height: 1.8;
  font-weight: 400;
  font-size: medium;

  /* 👇 ปรับตำแหน่งแนวตั้งตรงนี้ */
  transform: translateY(-200px); /* เลื่อนขึ้น */
}

.touchtogonext-white-down {
  position: absolute;
  bottom: 75px;
  width: 100%;
  text-align: center;

  font-size: 14px;
  color: rgb(255, 255, 255);
  font-family: 'Noto Serif Thai', serif;
  animation: softBlink 3s ease-in-out infinite;
}

@keyframes softBlink {
  0%   { opacity: 0.3; }
  50%  { opacity: 1; }
  100% { opacity: 0.3; }
}

.eye-closed-bg {
  background-image: url("closed-eye.jpeg");
  /* background-image: url("beach-rec-white.jpeg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wake-room-bg {
  background-image: url("room-wake.jpeg");
  /* background-image: url("beach-rec-white.jpeg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.touchtogonext-white-down-room {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;

  font-size: 14px;
  color: rgb(255, 255, 255);
  font-family: 'Noto Serif Thai', serif;
  animation: softBlink 3s ease-in-out infinite;
}

.content_Good18 {
  text-align: center;
  color: white;
  line-height: 1.8;
  font-weight: 400;
  font-size: medium;

  /* 👇 ปรับตำแหน่งแนวตั้งตรงนี้ */
  transform: translateY(-100px); /* เลื่อนขึ้น */
}

#screenGood20 {
  background-image: url("door.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#screenSoso20 {
  background-image: url("door.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#screenSad20 {
  background-image: url("door.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content_Good20 {
  text-align: center;
  color: white;
  line-height: 1.8;
  font-weight: 400;
  font-size: medium;

  /* 👇 ปรับตำแหน่งแนวตั้งตรงนี้ */
  transform: translateY(-270px); /* เลื่อนขึ้น */
}

.letter-1 {
  background-image: url("letter-1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.letter-2 {
  background-image: url("letter-2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.letter-3 {
  background-image: url("letter-3.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.letter-4 {
  background-image: url("letter-4.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content_Good24 {
  text-align: center;
  color: rgb(0, 0, 0);
  line-height: 1.8;
  font-weight: 400;
  font-size: medium;
  animation: softBlink 3s ease-in-out infinite;

  /* 👇 ปรับตำแหน่งแนวตั้งตรงนี้ */
  transform: translateY(-100px); /* เลื่อนขึ้น */
}

/* พื้นหลังรูป */
.letter-bg {
  background-image: url("yellow_bg.jpeg"); /* ← รูปที่เธอทำไว้ */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* กล่องจดหมาย */
.letter-container {
  background: rgba(255, 255, 255, 0.9);
  /* max-height: 50vh; */
  width: 90%;
  max-height: 80vh;          /* กันล้นจอ */
  overflow-y: auto;          /* เลื่อนอ่านได้ */
  padding: 32px;
  border-radius: 16px;

  line-height: 1.4;
  font-size: 16px;
  white-space: pre-line;     /* สำคัญมาก */
}



.next-btn-black-mood {
  display: block;
  margin: 30px auto 0;

  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  background-color: #000000cc;
  color: #fff;

  transition: background-color 0.3s;
  font-family: 'Noto Serif Thai', serif;
  white-space: nowrap;
  width: 100px;
  text-align: center;
}

.next-btn-black-mood:hover {
  background-color: #000000;
}

